@model ProductVM
@{
    ViewData["Title"] = "GetCategories";
    ProductCategory pCategory = ViewBag.Categories;
}

<section id="Entrance">
    <div class="row productEntranceRow">
        <div class="productImage-Content">
            <div class="productImage"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/932f56fe-0014-43a5-aa27-505cebe9b99d.__CR0,0,1464,600_PT0_SX1464_V1___.jpg" alt=""></div>
            <div class="productContent">
                @if (Model.ProductByCategories.Count == 0)
                {

                }
                else
                {
                    <span>@pCategory.Category.Name</span>
                    <span>
                        (@Model.ProductByCategories.Count)
                    </span>

                }
            </div>
        </div>
    </div>
</section>
@if (Model.ProductByCategories.Count == 0)
{

}
else
{
}
@if (Model.ProductByCategories.Count == 0)
{
    <div class="row justify-content-center align-items-center" style="height:214px;">
        <p style="display: inline-block; text-align:center; color: rgb(203,3,29);">
            <span style="font-size:20px;font-weight:bold;">
                NOT FOUND
            </span>
        </p>
    </div>
}
else
{
    <section id="products">
        <div class="container">
            <div class="d-flex justify-content-center">
            </div>
            <div class="row">

                @await Html.PartialAsync("_ProductPartialView", Model.ProductByCategories)
            </div>
        </div>
    </section>
}


