@inject FinalProjectBack_Front.Services.LayoutServices layoutService
@{
    ViewData["Title"] = "Index";
}

<section id="whishlistEntrance">
    <div class="row whishlistRow">
        <div class="whishlistTxt">
            <span>
                View your wishlist products
            </span>
        </div>
    </div>
</section>
<section id="products">
    <div class="container whishCont">
        <div class="row whishRow">
            @await Html.PartialAsync("_WhishlistPartialView", layoutService)
        </div>
    </div>
</section>

