@model AccountVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<section id="forgotPwSection">
    <div class="container">
        <div class="row forgotPwRow">
            <div id="forgotPwPage">
                <div class="forgotPwForm">
                    <div class="recoverPwTxt-closeIcon">
                        <span class="recoverPwTxt">RECOVER PASSWORD</span>
                    </div>
                    <div class="recoverPwInputArea">
                        <form method="post">
                            <label asp-for="AppUser.Email" >Email address</label><br>
                            <input asp-for="AppUser.Email"><br><br>
                            <button type="submit">RESET PASSWORD</button>
                        </form>
                    </div>
                    <p class="recoverPwP">Remembered your password? <a class="goLogin" asp-controller="account" asp-action="login">Back to login</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

