@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
}

<section id="forgotPwSection">
    <div class="container">
        <div class="row forgotPwRow">
            <div id="forgotPwPage">
                <div class="forgotPwForm">
                    <div class="recoverPwTxt-closeIcon">
                        <span class="recoverPwTxt">RECOVER PASSWORD</span>
                    </div>
                    <div class="recoverPwInputArea">
                        <div class="text text-danger mb-4" asp-validation-summary="ModelOnly"></div>
                        <form method="post">
                            <label asp-for="Password">Enter your new password</label><br>
                            <input asp-for="Password"><br><br>

                            <div class="d-none">
                                <input asp-for="Token"><br><br>
                                <input asp-for="AppUser.Email"><br><br>
                            </div>

                            <label asp-for="ConfirmPassword">Confirm your new password</label><br>
                            <input asp-for="ConfirmPassword"><br><br>
                            <button type="submit">RESET PASSWORD</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

